{{!-- Temp Add New Topic Form --}}
  <h2>Create New Topic</h2>
  <form>
    <div class="form-group">
      <label for="topic_title">Enter Topic Title - Up To 100 Characters</label>
      <input type="text" class="form-control" id="topic_title" placeholder="Title">
    </div>
    <div class="form-group">
      <label for="topic_body">Enter Description - Up To 250 Characters</label>
      <input type="text" class="form-control" id="topic_body" placeholder="Description">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" id="add-topic-btn">Submit</button>  
    </div>
  </form>
</div>
