{{!-- Proxy for assigned topic div --}}
<div class="row" id="user-topic">
  <h2 class="col-12">
    This is a proxy for the card that shows topic assigned to user <br> Assigned topic 3
  </h2>  
  <form>
  <div class="form-group">
    <label for="topic_answer">Enter Answer Text</label>
    <input type="text" class="form-control" id="topic_answer" placeholder="">
  </div>
  <div class="form-group">
    <label for="topic_answer_url">Enter URL Resource - Optional</label>
    <input type="url" class="form-control" id="topic_answer_url" placeholder="https://www.google.com">
  </div>
  <div class="form-group">
    <label for="topic_video">Enter YouTube Link </label>
    <input type="url" class="form-control" id="topic_video" placeholder="https://youtu.be/T2gbxz8_oAc">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary" id="answer-topic-btn">Submit</button>  
  </div>
</form>

