



{{!-- Open & Pending Section --}}
<div class="row card-deck text-center open-topics">
  <h2 class="col-12">Open & PendingTopics</h2>
  {{#each openAndPending}}
    <div class="card col-3">
        <h5 class="card-title">{{this.topic_title}}</h5>
        <button class="btn btn-block">See Details</button>
      </div>
    </div>
  {{/each}}
</div>


{{!-- Closed Topics Section --}}
<div class="row text-center closed-topics">
  <h2 class="col-12">Closed Topics</h2>
  {{#each closed}}
    <div class="card col-3">
      <iframe class="card-img-top" src="https://www.youtube.com/embed/8AIMskRMxOM" alt="Video For Topic"></iframe>
      <div class="card-body">
        <h5 class="card-title">{{this.topic_title}}</h5>
        <button class="btn btn-block">See Details</button>
      </div>
    </div>
  {{/each}}
</div>